body {
    background-color: #e0e7f7;
}

.app-inner-container {
    height: 100%;
    width: 100%;
    position: relative;
}

.App {
    background-color: white;
    width: min(500px, 90vw);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 3vh;
    padding: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#title {
    margin-top: .75rem;
}

.control-bar-container {
    display: flex;
    column-gap: 4rem;
}

.control-bar {
    display: flex;
    height: 1.5rem;
    align-items: center;
    justify-content: center;
    column-gap: 1rem;
}
